<div class="mt-5">
    <footer class="text-center text-white" style="background-color: #0F3460; width:100%">
        <div class="container">
            <section class="mt-2">
                <div class="row text-center d-flex justify-content-center pt-5">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">About us</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Products</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Awards</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Help</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="#!" class="text-white">Contact</a>
                        </h6>
                    </div>
                </div>
            </section>

            <hr class="my-5" />

            <section class="mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <p>
                            Our main work is to provide relivent platform to intrect customer and jober into the
                            same platform that will be handled and control by admin.
                            our purpose is to generate income source of women where women can show their abilities
                            skills and requirment and in return she will generate income source and independent.
                        </p>
                    </div>
                </div>
            </section>


        </div>

        <div class="text-center p-0" style="background-color: #0F3460">
            © 2020 Copyright:
            <a class="text-white" href="{% url 'home' %}">svatantranari.com</a>
        </div>
    </footer>
</div>